@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@layer base {
  :root {
    --background: #131720;
    --primary: #151622;
    --secondary: #1d202c;
    --accent: #36384a;
    --accent-2: #13141c;
    --accent-3: #1b1e2b;
    --magenta: #c71e4d;
    --magenta-2: #4e0e1f;
    --highlight: #0dc5b6;
    --text: #c9c5c5;
    --shadow-1: "4px 3px 8px 4px #00000030";
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--accent-3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c71e4d99;
  }

  body {
    @apply font-roboto;
  }
}
