@import "./tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@config "../tailwind.config.cjs";

@layer base {
  :root {
    --background: #131720;
    --primary: #151622;
    --secondary: #1d202c;
    --accent: #36384a;
    --accent-2: #13141c;
    --accent-3: #1b1e2b;
    --accent-4: #21243b;
    --magenta: #c71e4d;
    --magenta-2: #4e0e1f;
    --magenta-3: #8b223e;
    --highlight: #0dc5b6;
    --text: #c9c5c5;
    --shadow-1: "4px 3px 8px 4px #00000030";
    --chart-1: #27dfff;
    --chart-2: #2a9d90;
    --chart-3: #0a98b1;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
    --fixture-dif-2: #01fc7a;
    --fixture-dif-3: #e7e7e7;
    --fixture-dif-4: #ff1751;
    --fixture-dif-5: #80072d;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--accent-3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 8px;
  }

  body {
    @apply font-roboto;
  }

  .bar-chart > svg {
    overflow: visible;
  }
}
